html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  min-height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputs {
  min-height: 100vh;
  width: 200px;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
}